@import "reset.css";
@import "variables.less";
@import "common.less";

/* ----------Components--------- */


h1 {
	font-weight: bold;
	font-size: @font-size-h1;
	line-height: @font-size-h1 + 2;
}

h3 {
	font-size: @font-size-h3;
	line-height: @font-size-h3 + 2;
}

h4 {
	font-size: @font-size-h4;
	line-height: @font-size-h4 + 2;
}

em, i {
  font-style: normal;
  font-weight: 400;
}

body {
	font: @font-size-base "Tahoma", Helvetica, Arial, 'Microsoft YaHei', sans-serif;
}

html, body{
	height: 100%;
}

dfn{
	font-family: Arial;
}

/* ----------Site--------- */

header {
	position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: @z-base;
	background: @color-main;
	color: white;

	h1, .back, .home{
		display: inline-block;
		height: @base-size;
		line-height: @base-size;
		text-align: center;
	}

	h1 {
		width: 100%;
	}

	.back, .home{
		position: absolute;
		top: 0;
		width: @base-size;
		text-transform: uppercase;
	}
	.back {
		left: 0;
	}
	.home {
		right: 0;
	}
}

.main {
	margin-top: @base-size;
	height: 100%;
}

/*-----------Page------------*/

.list_page {
	background-color: @color-background;

	section {
		margin-bottom: @padding-block;
		padding: 0 @padding-side;
		background-color: white;
	}

	.ads {
		height: 120px;
		line-height: 120px;
		text-align: center;
		background-color: lighten(@color-widget, 20%);
		color: white;
		font-size: @font-size-h1;
	}

	.lnk_custom {
		line-height: @base-size;
		font-size: @font-size-emphasis;
	}

	.recommend {
		padding-top: @padding-item;
	}

	.product {

		.clearfix();
		padding: @padding-item 0;

		.pic {
			float: left;
			width: 80px;
			height: 70px;

			img {
				width: 80px;
				height: 70px;
			}
		}

		.detail {
			margin-left: 80 + @padding-item;
			padding-top: @padding-icon;

			h3 {
				margin-bottom: @padding-icon;
				font-size: @font-size-h3;
			}
		}
	}
}

.detail_page {
	background: @color-background;

	.img { 
		width: 100%;

		img {width: 100%;}
	}

	h1, .tags, .frees, .info { 
		padding: @padding-item @padding-side; background: white; 
	}

	.tags { padding-top: 0; }
	
	.frees { 
		border-top: 1px solid @color-border;
	}

	.frees, .info { 
		margin-bottom: @padding-item; 
	}

	.frees {
		
		p { 
			margin-left: 40px; 
			line-height: @line-height; 
			font-size: @font-size-small; 
		}

		i { 
			float: left; 
			margin-top: @padding-icon; 
			padding: (@padding-icon - 1) @padding-icon;
			color: @color-widget; 
			border: 1px solid @color-widget;
		}
	}

	.info {

		h3 {
			padding: @padding-item 0;
			border-bottom: 1px solid @color-border;
		}
		ul {
			margin: @padding-item 0;
			padding: 0 @padding-side;

			li{
				margin: @padding-item 0;
				font-size: @font-size-base;
				line-height: @font-size-base + 2;
				list-style-type: disc;

				a {
					color: @color-font;
					:hover { text-decoration: none; }
				}
			}
		}
		&:nth-last-child(2) {
			margin-bottom: 66px;
		}
	}

	.book {

		.collect, .start_book {
			display: inline-block;
			height: @base-size;
			margin-left: @padding-item;
			padding: 0 @padding-item;
			font-size: @font-size-base;
		}

		.collect {
			width: 20%;
			background: white;
			color: @color-widget;
			border: 1px solid @color-border;
		}

		.start_book {
			width: 70%;
		}
	}
}

.route_page {
	h1{
		width: 100%;
		padding: @padding-item 0;
		text-align: center;
	}

	.calendar{
		border-top: 2px solid lighten(@color-main, 10%);
  		
  		&:last-child{
  			border-bottom: 2px solid @color-main;
  			margin-bottom: 109px;
  		}
	}

	.num_selector {
		width: 48%;
		text-align: center;
	}

	.book{
		text-align: center;
		padding-top: @padding-item;

		.start_book{
			width: 80%;
			height: @base-size;
			font-size: @font-size-base;
		}	
	}
}

.package_page {
	height: 100%;
	padding: @padding-icon @padding-item;
	background-color: @color-background;

	section {
		margin-top: @padding-block;
		padding: @padding-icon 0;
		width: 100%;
		border-radius: 8px;
		background-color: white;

		>ul, >div{
			margin: @padding-item;
		}
		>div{
			text-align: center;
		}

		>ul {
			margin-top: @padding-icon;
			li{
				padding: @padding-item 0;
				border-bottom: 1px solid @color-border;
			}
		}

		a{
			color: @color-main;
		}

		.summary{
			font-size: @font-size-small;
		}
		.detail{
			margin: @padding-item 0;
		}
	}

	.flights{
		.time {
			font-size: @font-size-emphasis;
			font-weight: bold;
		}
		.from, .line_space, .to{
			display: inline-block;
		}
		.from {
			width: 35%;
		}
		.line_space {
			width: 20%;
		}
		.line{
			width: 100%;
		}
		.to {
			margin-left: @padding-item;
		}
	}
	.hotels{
		.pic, .pic img{
			width: 80px;
			height: 80px;
		}
		.pic {
			float: left;
		}
		.desc{
			min-height: 80px;
			margin-left: 80 + @padding-item;

			h3{
				padding-bottom: @padding-item;
			}
			.room{
				padding-top: @padding-icon;

				.room_count {
					color: @color-main;
					float: right;
					margin-right: @padding-block;
				}
			}
		}
	}
	.footer_bar{
		padding: 0;
		height: @base-size;
		font-size: @font-size-emphasis;
		background-color: softlight(@color-widget, @color-border);
		color: white;

		.price_detail, a {
			display: inline-block;
			padding: @padding-item @padding-side;
		}

		span{
			&:first-child{
				font-size: @font-size-base;
			}
			&:nth-child(3){
				margin-left: @padding-item;
				background-color: white;
				color: softlight(@color-widget, @color-border);
				font-weight: bold;
			}
		}

		.save_price {
			padding: 0 2px;
			font-size: @font-size-small;
			border: 1px solid white;
		}

		a{
			float: right;
			display: inline-block;
			height: 100%;
			text-align: center;
			background-color: @color-widget;
			color: white;
		}
	}
}

.flight_page{
	height: 100%;
	background-color: @color-background;

	.progress{
		position: fixed;
		z-index: @z-base;
		padding: @padding-small @padding-side;
		width: 100%;
		box-sizing: content-box;
		line-height: @line-height;
		background-color: lighten(@color-bar, 20%);
		color: white;
		border-bottom: 1px solid lighten(@color-bar, 10%);

		.icon{
			display: inline-block;
			background-color: @color-bar;
			padding: 0 2px;
			border-radius: 3px;
			font-size: @font-size-small;
		}
		.count{
			float: right;
			margin-right: 28px;
		}
	}

	ul {
		padding: 30px 0;
	}

	li{
		margin-bottom: @padding-item;
		padding: 0 @padding-side;
		border-bottom: 1px solid @color-border;
		background-color: white;
	}

	.time {
		position: relative;
		padding-top: @padding-item;

		strong {
			font-size: @font-size-emphasis;
		}
		.duration{
			font-size: @font-size-small;
			color: lighten(@color-font, 30%);
		}
		.price, .price_lower {
			position: absolute;
			top: 10px;
			right: 0;
		}
	}
	.airport{
		padding-bottom: @padding-item;
		.clearfix();

		.line{
			display: block;
			width: 80%;
		}
		.from{
			float: left;
			left: 0;
			top: 0;
		}
		.to{
			float: right;
			right: 0;
			top: 0;
			margin-right: 20%;
		}
	}
	.airline{
		padding: @padding-icon 0;
		border-top: 1px solid @color-border;
	}
	.cabin{
		position: relative;
		padding: @padding-icon 0 @padding-item;
		border-top: 1px solid @color-border;
		>span, a {
			display: block;
			font-size: @font-size-small;
		}
		div{
			position: absolute;
			right: 0;
			top: @padding-small;
		}
		.price, .price_lower{
			vertical-align: middle;
		}
	}
}

.hotel_page{
	.hotel_list{
		li {
			padding: @padding-item @padding-side;
			border-bottom: 1px solid @color-border;
		}

		.pic, .pic img{
			width: 80px;
			height: 80px;
		}
		.pic {
			float: left;
		}

		.desc{
			position: relative;
			min-height: 80px;
			margin-left: 80 + @padding-item;
		}

		h3, .points, .star, .zone{
			display: block;
			padding-bottom: @padding-icon;
		}

		.points{
			color: lighten(@color-main, 10%);
			font-size: @font-size-small;

			em{
				font-size: @font-size-emphasis;
			}
		}

		.price, .price_lower{
			position: absolute;
			right: 0;
			top: 20px;
		}

		.star, .zone{
			font-size: @font-size-base - 1;
			color: lighten(@color-font, 10%);
		}
	}

	
}

footer {

}