.page-enter, .page-leave {
  position: absolute;
  top: 0;
  width: 100%;
  transition: left .3s ease-in-out;
	-moz-transition: left .3s ease-in-out; /* Firefox 4 */
	-webkit-transition: left .3s ease-in-out; /* Safari 和 Chrome */
	-o-transition: left .3s ease-in-out; /* Opera */
}

.page-enter {
  left: -100%;
}

.page-enter.page-enter-active {
  left: 0;
}

.page-leave {
	left: 0;
}

.page-leave.page-leave-active {
  left: 100%;
}