@import "reset.css";
@import "variables.less";
@import "mixins.less";

/* ----------Components--------- */
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;

  &:active {
    outline: 0;
    background-image: none;
  }

  &.disabled {
  	background: @color-disable;
  	color: white;
  }

}

.price {
	color: @color-widget;
	font-size: @font-size-emphasis;

	dfn{
		margin-right: @padding-icon;
		font-size: @font-size-small;
	}
}

.calendar {
	border-top: 2px solid @color-main;
	border-bottom: 2px solid @color-main;
	padding-top: @padding-icon;

	ul {
		width: 100%;
		.clearfix();

		li {
			float: left;
			padding: @padding-icon 0;
			width: 14.28%;
			font-size: @font-size-base;
			line-height: @font-size-base + 2; 
			text-align: center;
		}
	}

	.weekday {
		font-size: @font-size-small;
		line-height: @line-height;
		color: lighten(@color-font, 30%)
	}

	.title {
		padding: @padding-item 0;
		font-size: @font-size-emphasis;
		.clearfix();

		span, .prev, .next {
			float: left;
			text-align: center;
		}

		.prev, .next{
			width: 15%;
		}

		span {
			width: 70%;
		}
	}

	.days {
		li{
			height: @base-size;
			font-size: @font-size-small;
		}

		.disable{
			color: @color-disable;
		}

		em {
			display: block;
			i {
				display: block;
				padding-top: @padding-icon;
				color: @color-widget;
			}
		}
	}
}

h1 {
	font-weight: bold;
	font-size: @font-size-h1;
	line-height: @font-size-h1 + 2;
}

h3 {
	font-size: @font-size-h3;
	line-height: @font-size-h3 + 2;
}

h4 {
	font-size: @font-size-h4;
	line-height: @font-size-h4 + 2;
}

em, i {
  font-style: normal;
  font-weight: 400;
}

/* ----------Site--------- */

header {
	background: @color-main;
	color: white;

	h1, .back, .home{
		display: inline-block;
		height: @base-size;
		line-height: @base-size;
		text-align: center;
	}

	h1 {
		width: 100%;
	}

	.back, .home{
		position: absolute;
		top: 0;
		width: @base-size;
		text-transform: uppercase;
	}
	.back {
		left: 0;
	}
	.home {
		right: 0;
	}
}

/*-----------Page------------*/

.list_page {
	background-color: @color-background;

	section {
		margin-bottom: @padding-block;
		padding: 0 @padding-side;
		background-color: white;
	}

	.ads {
		height: 120px;
		line-height: 120px;
		text-align: center;
		background-color: lighten(@color-widget, 20%);
		color: white;
		font-size: @font-size-h1;
	}

	.lnk_custom {
		line-height: @base-size;
		font-size: @font-size-emphasis;
	}

	.recommend {
		padding-top: @padding-item;
	}

	.product {

		.clearfix();
		padding: @padding-item 0;

		.pic {
			float: left;
			width: 80px;
			height: 70px;

			img {
				width: 80px;
				height: 70px;
			}
		}

		.detail {
			margin-left: 80 + @padding-item;
			padding-top: @padding-icon;

			h3 {
				margin-bottom: @padding-icon;
				font-size: @font-size-h3;
			}
		}
	}
}

.detail_page {
	background: @color-background;

	.img { 
		width: 100%;

		img {width: 100%;}
	}

	h1, .tags, .frees, .info, .resources { 
		padding: @padding-item @padding-side; background: white; 
	}

	.tags { padding-top: 0; }
	
	.frees { 
		border-top: 1px solid @color-border;
	}

	.frees, .info { 
		margin-bottom: @padding-item; 
	}

	.frees {
		
		p { 
			margin-left: 40px; 
			line-height: @line-height; 
			font-size: @font-size-small; 
		}

		i { 
			float: left; 
			margin-top: @padding-icon; 
			padding: (@padding-icon - 1) @padding-icon;
			color: @color-widget; 
			border: 1px solid @color-widget;
		}
	}

	.info {

		h3 {
			padding: @padding-item 0;
			border-bottom: 1px solid @color-border;
		}
		ul {
			margin: @padding-item 0;
			padding: 0 @padding-side;

			li{
				margin: @padding-item 0;
				font-size: @font-size-base;
				line-height: @font-size-base + 2;
				list-style-type: disc;

				a {
					color: @color-font;
					:hover { text-decoration: none; }
				}
			}
		}
	}

	.resources {
		>h3 {
			line-height: @line-height;
			padding: @padding-icon 0;
		}
	}
}

footer {

}