/* ------- color -------*/
@color-main        : #099fde;
@color-background  : #eee;
@color-widget      : #ff7d13;
@color-filter      : rgba(40,56,71,0.95);
@color-border      : #ddd;
@color-font        : #333;
@color-disable     : #ccc;
@color-lower-price : #73b100;


/* ------- font-size -------*/
@font-size-base  : 14px;

@font-size-h1    : ceil((@font-size-base * 1.25));
@font-size-h3    : ceil((@font-size-base * 1.14));
@font-size-h4    : @font-size-base;

@font-size-small    : ceil((@font-size-base * 0.85));
@font-size-title    : ceil((@font-size-base * 1.07));
@font-size-emphasis : @font-size-h1;
@font-size-button   : @font-size-h4;

/* ------- padding -------*/

@line-height    : 18px;
@base-size      : 44px;

@padding-side   : 15px;
@padding-block  : 15px;
@padding-item   : 10px;
@padding-icon   : 3px;

/* ------- border-radius -------*/
@border-radius-base  : 4px;
@border-radius-large : 6px;
@border-radius-small : 3px;
